<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.spk.user.dao.FrameDeptMapper">
    <resultMap id="BaseResultMap" type="cn.spk.user.entity.FrameDept">
        <id column="deptid" jdbcType="INTEGER" property="deptid"/>
        <result column="deptname" jdbcType="VARCHAR" property="deptname"/>
        <result column="deptshortname" jdbcType="VARCHAR" property="deptshortname"/>
        <result column="parentid" jdbcType="INTEGER" property="parentid"/>
    </resultMap>
    <sql id="Base_Column_List">
        deptid, deptname, deptshortname, parentid
    </sql>
    <select id="listFrameDepts" resultMap="BaseResultMap">
        select *
        from framedept
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from framedept
        where deptid = #{deptid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from framedept
        where deptid = #{deptid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cn.spk.user.entity.FrameDept">
        insert into framedept (deptid, deptname, deptshortname, parentid
        )
        values (#{deptid,jdbcType=INTEGER}, #{deptname,jdbcType=VARCHAR}, #{deptshortname,jdbcType=VARCHAR},
                #{parentid,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="cn.spk.user.entity.FrameDept">
        insert into framedept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptid != null">
                deptid,
            </if>
            <if test="deptname != null">
                deptname,
            </if>
            <if test="deptshortname != null">
                deptshortname,
            </if>
            <if test="parentid != null">
                parentid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptid != null">
                #{deptid,jdbcType=INTEGER},
            </if>
            <if test="deptname != null">
                #{deptname,jdbcType=VARCHAR},
            </if>
            <if test="deptshortname != null">
                #{deptshortname,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null">
                #{parentid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.spk.user.entity.FrameDept">
        update framedept
        <set>
            <if test="deptname != null">
                deptname = #{deptname,jdbcType=VARCHAR},
            </if>
            <if test="deptshortname != null">
                deptshortname = #{deptshortname,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null">
                parentid = #{parentid,jdbcType=INTEGER},
            </if>
        </set>
        where deptid = #{deptid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.spk.user.entity.FrameDept">
        update framedept
        set deptname      = #{deptname,jdbcType=VARCHAR},
            deptshortname = #{deptshortname,jdbcType=VARCHAR},
            parentid      = #{parentid,jdbcType=INTEGER}
        where deptid = #{deptid,jdbcType=INTEGER}
    </update>
</mapper>